<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
							http://www.springframework.org/schema/beans/spring-beans.xsd">

	
	<bean id='t1' class='kr.co.song.beans.TestBean'/>						
	
	<!-- xml을 로딩할때 자동으로 객체 생성 -->
	<!-- 생성된 객체는 더이상 생성되지 않는다 (SingleTon) -->
	<bean class = "kr.co.song.beans.TestBean"/>
</beans>