<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
							http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- xml을 로딩할때 자동으로 객체 생성 -->
	<!-- 생성된 객체는 더이상 생성되지 않는다 (SingleTon) -->
	
	<!--
	<bean id='lec1_inner' class='kr.co.song.beans.TestBean'/>						
	<bean class = "kr.co.song.beans.TestBean"/>
	-->
	
	<bean id="lec2" class='kr.co.song.beans.TestBean' lazy-init='true' init-method="initMethod"/>
</beans>